@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://db.onlinewebfonts.com/c/8deebd62b68f3e612b67daa38ac25e62?family=Fancy+Cut+Pro');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet');

@import "tailwindcss";


:root {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-nav {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.font-nav:hover {
  color: rgb(226, 226, 226);
}

.font-watch {
  font-family: 'Fancy Cut Pro', serif;
}

@font-face {
  font-family: Coronet;
  src: url("/fonts/Coronet.ttf");
}

@font-face {
  font-family: 'AlphaDigital';
  src: url("/fonts/DrukWideBold.ttf");
  font-weight: 100;
}

a {
  color: white;
  text-decoration: inherit;
  transition: color 0.3s ease;
}
a:hover {
  /* color: #5559a0; */
  color: rgb(216,216,216);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme {
  --font-coronet: Coronet, "serif";
  --font-alphadigital: AlphaDigital, "serif";
  --color-cartier: #5559a0;
}